@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>
@{
	Layout = "mainLayout.cshtml";
}

<section class="relative py-[7rem]">
	<div class="absolute inset-0">
		<img class="w-full h-full object-cover" src="@Model.HeroBgImage?.Url()" alt="" />
	</div>
	<div class="container mx-auto px-4 relative z-10">
		<div class="w-5/12 flex flex-col gap-8">
			<h1 class="hero-title">@Model.HeroHeadline</h1>
			<div>@Html.Raw(Model.HeroText)</div>
			@* <a class="bg-primary px-10 py-4 rounded-sm" href="@Model.HeroLink?.Url()"><h6 class="text-secondary font-bold">@Model.HeroLink</h6></a> *@
		</div>

	</div>
</section>