@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>
@{
	Layout = "mainLayout.cshtml";
}

<section class="relative py-[7rem]">
	<div class="absolute inset-0">
		<img class="w-full h-full object-cover" src="@Model.HeroBgImage?.Url()" alt="" />
	</div>
	<div class="container content relative z-10">
		<div class="w-5/12 flex flex-col gap-8">
			<h1 class="hero-title">@Model.HeroHeadline</h1>
			<div>@Html.Raw(Model.HeroText)</div>
			<div class="bg-primary px-10 py-4 rounded-sm flex w-4/12">
				<a href="@Model.HeroLink?.Url()">
					<p class="text-secondary font-bold">@Model.HeroLink?.Name</p>
				</a>
			</div>
		</div>
	</div>
</section>