@using Onatrix.Controllers;
@using Onatrix.umbraco.models

@model CallbackFormViewModel;

@using (Html.BeginUmbracoForm("HandleCallbackForm", "CallbackForm", FormMethod.Post, new { novalidate = "novalidate", id = "callbackForm" }))
{
	<div class="px-[2rem] flex flex-col gap-6 justify-center" id="contactMapForm">
		<div class="flex flex-row gap-6 px-10">
			<div class="input-group w-1/2">
				<label class="sr-only" asp-for="Name"></label>
				<input class="form-input" type="text" placeholder="@Html.DisplayNameFor(x => x.Name)" asp-for="Name" />
				<span asp-validation-for="Name"></span>
			</div>
			<div class="input-group w-1/2">
				<label class="sr-only" asp-for="Phone"></label>
				<input class="form-input" type="text" placeholder="@Html.DisplayNameFor(x => x.Phone)" asp-for="Phone" />
				<span asp-validation-for="Phone"></span>
			</div>
		</div>
		<div class="flex flex-row gap-6 px-10">
			
			<div class="input-group w-1/2">
				<label class="sr-only" asp-for="Email"></label>
				<input class="form-input" type="text" placeholder="@Html.DisplayNameFor(x => x.Email)" asp-for="Email" />
				<span asp-validation-for="Email"></span>
			</div>
			<div class="input-group w-1/2 relative">
				<label class="sr-only" asp-for="SelectedService"></label>
				<div>
					<select class="form-input appearance-none w-full pr-10 not-italic" asp-for="SelectedService">
						<option value="" disabled hidden selected>Please select an option</option>
						@foreach (var option in Model.Options)
						{
							<option class="not-italic" value="@option">@option</option>
						}
					</select>
					<span class="pointer-events-none absolute right-3 inset-y-0 flex items-center text-text"><i class="fa-solid fa-chevron-down"></i></span>
				</div>
				<span asp-validation-for="SelectedService"></span>
			</div>
		</div>
		<div class="flex items-center justify-center">
			@if (TempData["CallbackFormError"] != null)
			{
				<h5 class="!text-error italic text-center py-[1rem]">@TempData["CallbackFormError"]</h5>
			}
			else
			{
				<h5 class="!text-success italic text-center py-[1rem]">@TempData["CallbackFormSuccess"]</h5>
			}
		</div>
		<div class="flex pb-[2.5rem] justify-center items-center">
			<button type="submit" class="bg-primary text-secondary form-btn !w-min self-center">Submit</button>
		</div>
	</div>
}

