@using Onatrix.Controllers; 
@using Onatrix.umbraco.models;

@model QuestionFormViewModel;

@using (Html.BeginUmbracoForm ("HandleQuestionForm", "QuestionForm", FormMethod.Post, new { novalidate = "novalidate", id = "questionForm" }))
{
	<div>
		<div class="flex flex-col gap-6 justify-center" id="questionForm">

			<div class="flex flex-row gap-6">
				<div class="input-group w-1/2">
					<label class="sr-only" asp-for="Name"></label>
					<input class="form-input" type="text" placeholder="@Html.DisplayNameFor(x => x.Name)" asp-for="Name" />
					<span asp-validation-for="Name"></span>
				</div>
				<div class="input-group w-1/2">
					<label class="sr-only" asp-for="Email"></label>
					<input class="form-input" type="text" placeholder="@Html.DisplayNameFor(x => x.Email)" asp-for="Email" />
					<span asp-validation-for="Email"></span>
				</div>
			</div>
			<div>
				<label class="sr-only" asp-for="Question"></label>
				<textarea class="form-input h-[11rem]" placeholder="@Html.DisplayNameFor(x => x.Question)" asp-for="Question"></textarea>
				<span asp-validation-for="Question"></span>
			</div>
		</div>
		<div class="flex items-center justify-center">
			@if (TempData["QuestionFormError"] != null)
			{
				<h5 class="!text-error italic text-center py-[1rem]">@TempData["QuestionFormError"]</h5>
			}
			else
			{
				<h5 class="!text-success italic text-center py-[1rem]">@TempData["QuestionFormSuccess"]</h5>
			}
		</div>
		<div class="flex py-4 justify-start items-center">
			<button type="submit" class="bg-primary text-secondary form-btn !w-min self-center">Submit</button>
		</div>
	</div>
}