@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.ServiceSection)Model.Content;
	var settings = Model.Settings as ContentModels.ServiceSettings;

	var sectionColor = settings?.ServiceBackgroundColor?.Color ?? "white";

	var current = Umbraco.AssignedContentItem;
	var siteRoot = current.Root(); 
	var servicePage = siteRoot.Children<ServicesPage>()?.FirstOrDefault();

	var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

<section class="relative py-[2rem] lg:py-[4rem]" style="background-color: @(sectionColor);">
	<div class="content">
		<div class="flex flex-col gap-2 items-center pb-[2rem]">
			@if (settings!.ShowServiceLabel)
			{
				<p class="label">@content.ServiceLabel</p>
			}
			<div>
				<h2>@content.ServiceTitle</h2>
			</div>
		</div>
	
		@if (items.Any())
		{
			<div class="swiper md:max-w-7xl md:mx-auto md:px-4" id="serviceSwiper">
				<div class="swiper-wrapper">
					@foreach (var item in items)
					{
						<div class="swiper-slide bg-white border-2 border-border w-full min-h-[350px] overflow-hidden transition-all hover:border-secondary hover:shadow-[0:4px_15px_rgba(0,0,0,0.1)]">
							<a href="@item.Url()">
								<h5 class="font-semibold p-6">@item.Name</h5>
								<img class="block w-full h-[220px] object-cover" src="@(item.ServiceDetailThumbnail?.Url() ?? "~/Images/Thumbnails/about-us.svg")" />
								<p class="p-6">@item.ServiceDetailExcerpt</p>
							</a>
						</div>
					}
				</div>
				<div class="custom-pagination">
					<div class="custom-prev">Prev</div>
					<div class="swiper-pagination"></div>
					<div class="custom-next">Next</div>
				</div>
			</div>
		}
		else
		{
			<p>No services available at the moment.</p>
		}
	</div>
</section>