@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.SuccessStorySection)Model.Content;
	var examples = content.SuccessStoryExample?.ToList() ?? new List<Umbraco.Cms.Core.Models.Blocks.BlockListItem>();
}

<section class="relative pt-[3rem] lg:pt-[7rem] bg-primary overflow-visible">
	<div class="container content relative bg-[url('/Images/Backgrounds/dot-map-dark-bg.svg')] bg-no-repeat">
		<div class="flex flex-col gap-4 justify-center items-center mx-auto">
            <div class="items-center justify-center text-center">
                <p class="label !text-center">@content.SuccessStoryLabel</p>
                <h2 class="!text-white z-10">@content.SuccessStoryHeadline</h2>
            </div>
            @if (examples?.Count > 0)
            {
                <div class="hidden md:flex flex-row justify-between items-start items-stretch mx-[4rem] gap-4">
                    @for (var i = 0; i < Math.Min(3, examples.Count); i++)
                    {
                        // Had some help here from ChatGPT 4o with reaching the subcontent of the blocklist 
                        var example = (ContentModels.SuccessItem)examples[i].Content;

                        <div class="flex flex-col justify-start lg:justify-between text-center items-center w-1/3">
                            <h2 class="success-number">@example.SuccessNumber</h2>
                            <p class="text-white text-center !text-[1.1rem]">@example.SuccessDescription</p>
                        </div>
                    }
                </div>
                <div class="grid grid-cols-2 gap-2 items-center md:hidden">
                    @for (var i = 0; i < Math.Min(3, examples.Count); i++)
                    {
                        var example = (ContentModels.SuccessItem)examples[i].Content;

                        @* Had help here from Claude AI with constructing grid *@
                        <div>
                            <h2 class="success-number">@example.SuccessNumber</h2>
                        </div>
                        <div>
                            <p class="text-white text-start">@example.SuccessDescription</p>
                        </div>
                    }
                </div>
            }
            <div class="relative z-10 md:-mt-[6rem] lg:-mt-[9rem]">
				<img class="px-4 pb-[1rem] md:pb-0 md:translate-y-[33.33%]" src="@content.SuccessStoryImage?.Url()"/>
			</div>
		</div>
	</div>
</section>