@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TrustUsSection)Model.Content;
}

<section class="relative pt-[2rem] lg:pt-[7rem]">
	<div class="container content relative">
		<div class="flex flex-col gap-12 items-center justify-center bg-top bg-no-repeat" style="background-image: url('/Images/dots-behind-trust-us.svg');">
			<div class="xl:w-1/2 flex flex-col gap-4 items-center justify-center">
				<div>
					@Html.Raw(content.TrustUsHeadline)
				</div>
				<p class="text-center text-base md:pb-5">@content.TrustUsText</p>
				<div class="bg-primary px-10 py-4 rounded-sm flex w-fit">
					<a href="@content.TrustUsLink?.Url">
						<p class="text-secondary font-bold">@content.TrustUsLink?.Name</p>
					</a> 
				</div>
			</div>
			<div class="lg:pt-12">
				<img class="object-cover" src="@content.TrustUsImage?.Url()" alt="" />
			</div>
		</div>
	</div>
</section>